/*
Dictates the style for the javaFX table view
Author: Isaac Ure
*/

@font-face {
        font-family: ABeeZee;
        src: url('/fonts/ABeeZee-Regular.ttf');
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.tool-bar {
    -fx-background-color: linear-gradient(#40739e, #487eb0);
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: transparent;
    -fx-font-family: 'ABeeZee';
    -fx-font-size: 18;
}

.table-view .column-header-background {
    -fx-background-color: #487eb0;
    -fx-border-color: black;
    -fx-border-weight: 5;
    -fx-padding: 0px;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-size: 20;
    -fx-margin: 100px 0 0 100px;
}

.table-row-cell:even {
    -fx-background-color: #f5f6fa;
}

.table-row-cell:odd {
    -fx-background-color: #ebebeb;
}

.table-row-cell:focused {
    -fx-background-color: #aaaaaa;
    -fx-table-cell-border-color: transparent;
}

#tableButtonsPane {
    -fx-background-color: white;
}

#menuPane {
    -fx-font-family: 'ABeeZee';
    -fx-background-color: #487eb0;
}

#mapViewButton {
    -fx-background-color: white;
    -fx-width: 100%;
    -fx-background-radius: 0;
}

#tableViewButton, #menuButton, #helpButton{
    -fx-background-color: transparent;
    -fx-width: 100%;
    -fx-background-radius: 0;
}

#mapViewButton: hover, #menuButton: hover, #helpButton: hover {
    -fx-background-radius: 0;
    -fx-background-color: #40739e;
}

#buttonBar .toggle-button, .button, .menu-button {
    -fx-background-radius: 15;
}

