/*
Dictates the style for the javaFX table view
Author: Isaac Ure
*/

@font-face {
        font-family: ABeeZee;
        src: url('/fonts/ABeeZee-Regular.ttf');
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: transparent;
    -fx-font-family: 'ABeeZee';
    -fx-font-size: 18;
}

.table-view .column-header-background {
    -fx-background-color: #ff55ff;
    -fx-border-color: black;
    -fx-border-weight: 5;
    -fx-padding: 0px;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-size: 20;
    -fx-margin: 100px 0 0 100px;
}

.table-row-cell:even {
    -fx-background-color: #f5f6fa;
}

.table-row-cell:odd {
    -fx-background-color: #ebebeb;
}

.table-row-cell:focused {
    -fx-background-color: #aaaaaa;
    -fx-table-cell-border-color: transparent;
}

#menuPane {
    -fx-font-family: 'ABeeZee';
    -fx-background-color: linear-gradient(#ff5555, #ffff55, #55ff55, #55ffff, #5555ff, #ff55ff);
}

#tableViewButton, #menuButton, #mapViewButton {
    -fx-width: 100%;
    -fx-background-radius: 0;
}

#menuButton:hover, #tableViewButton:hover, #mapViewButton:hover {
    -fx-background-radius: 0;
    -fx-background-color: #bbeeff;
}

.menu-butons {
    -fx-background-color: transparent;
}

.selected {
    -fx-background-color: #ffffff;
}

#buttonBar .toggle-button, .button, .menu-button {
    -fx-background-radius: 15;
}

#buttonBar {
    -fx-background-color: #ff5555;
}

#mainWindow {
    -fx-background-color: #ff5555;
}

#yearSelect .range-bar {
    -fx-background-color: #ff55ff;
}


